logLevel: info

rtsp: true
rtspAddress: :8554
rtspTransports: [tcp]

hls: false
rtmp: false
srt: false
moq: false

webrtc: true
webrtcAddress: :8889
webrtcAllowOrigins: ["*"]
webrtcLocalUDPAddress: :8189
webrtcLocalTCPAddress: :8189
webrtcAdditionalHosts:
  - 100.92.7.56

api: true
apiAddress: 127.0.0.1:9997

paths:
  "~^mowers/[A-Za-z0-9_-]+$":
    source: publisher
